 main {
    text-align: -webkit-center;
}
.list-group {
    width: 50%;
}
.list-group-item
{

    padding:1.5rem 0rem;
}
.list-group-item+.list-group-item {
    border-top-width:1px ;
    margin: 0 5px;
    border-radius: 10px;
}
.list-group-item:first-child{
    margin: 0 5px;
    border-radius: 10px;
}
.all {
    display: flex;
    margin: 5px 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #c7dbf9;
    border-color: #0d6efd;
}
.h3, h3 {
    font-size: 20px;
    color: #665bff;
}
body {
    font-family: 'Aldrich', sans-serif;
}
